{% extends "base.html" %}

{% block title %}Sailing Opportunities{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Sailing Opportunities</h1>
    <div class="row">
        {% for trip in page_obj %}
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        {% if trip.boat_image %}
                        <img src="{{ trip.boat_image.url }}" alt="Boat Image" class="img-fluid mb-3">
                        {% endif %}
                        <h5 class="card-title">{{ trip.title }}</h5>
                        <p class="card-text">
                            <strong>Location:</strong> {{ trip.location }}<br>
                            <strong>Date:</strong> {{ trip.date }}<br>
                            <strong>Duration:</strong> {{ trip.formatted_duration }}<br>
                            <strong>Crew Needed:</strong> {{ trip.crew_needed }}<br>
                            {% if user.is_authenticated and user.role == 'crew' %}
                            <a href="{% url 'apply_for_trip' trip.id %}" class="btn btn-primary">Apply for Trip</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Pagination controls -->
    {% if show_pagination %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="First">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            <li class="page-item disabled">
                <span class="page-link">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}
