/* Navigation Styling */
.navbar {
    background-color: #007bff !important; /* Navbar background colour */
}

.nav-link {
    color: white !important;
}

.navbar-brand {
    color: white !important;
}

/* Footer Styling */
.footer {
    background-color: #007bff !important; /* Navbar background colour */
}

.footer span {
    color: white !important;
}

/* Style the table for better readability */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    color: #333;
}

/* Style table headers */
th {
    padding: 12px 15px;
    background-color: #f2f2f2;
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}

/* Style table cells */
td {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

/* Hover effect for table rows */
tr:hover {
    background-color: #f9f9f9;
}

/* Center-align actions column */
td:last-child {
    text-align: center;
}


/*  Alert positioning */
.container .alert {
    margin-top:60px !important;
}

/* Style buttons on captains dashboard */
.custom-button {
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.custom-button:hover {
    background-color: #0056b3; /* Darker color for primary button */
    color: #fff;
    transform: scale(1.05);
}

/* Style the card in the dashboard better */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.applicants-section {
    border-left: 4px solid #17a2b8;
}

.applicant-item {
    font-size: 0.9rem;
    border-bottom: 1px solid #e9ecef;
}

.applicant-item:last-child {
    border-bottom: none;
}

.applicant-item span {
    font-size: 0.95rem;
    color: #333;
}


/* Trip detail card */
.trip-detail {
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.trip-detail i {
    margin-right: 5px;
}

.trip-detail .detail-label {
    margin-right: 5px;
    font-weight: normal;
}

.trip-description {
    font-size: 0.95rem;
    color: #555;
    line-height: 1.5;
    margin-top: 10px;
}

.trip-description strong {
    font-weight: bold;
    color: #333;
}

/*  Hero Section Home Page */
.hero-image {
    background-size: cover;
    background-position: center;
    height: 60vh;
    position: relative;
}
.hero-overlay {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
